apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: acme
    haproxy.org/ssl-redirect: "false"
  name: plex
  namespace: plex
  labels:
    app: plex
spec:
  ingressClassName: haproxy
  rules:
    - host: plex.herron.dev
      http:
        paths:
        - pathType: Prefix
          path: "/"
          backend:
            service:
              name: plex
              port:
                number: 32400
  tls:
    - hosts:
      - plex.herron.dev
      secretName: plex-tls
