apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: plex
  namespace: plex
  labels:
    app: plex
spec:
  ingressClassName: haproxy
  rules:
    - host: plex.herron.dev
      http:
        paths:
        - pathType: Prefix
          path: "/"
          backend:
            service:
              name: plex
              port:
                number: 32400
