apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: prometheus
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      interval: 10m
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
      version: '<79.0.0'
  interval: 10m
  targetNamespace: prometheus
  # See https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml
  values:
    grafana:
      enabled: false
    prometheus:
      ingress:
        enabled: true
        hosts:
          - k8s-prometheus.localhost
      prometheusSpec:
        podMonitorSelectorNilUsesHelmValues: false # Collects all PodMonitors in all namespaces
        serviceMonitorSelectorNilUsesHelmValues: false # Collects all ServiceMonitors in all namespaces
        storageSpec:
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 1Gi
