static_resources:
  listeners:
  # Just forward MQTT requests from 1883 -> 31883 (kubernetes). Maintained for backwards compatibility of local MQTT
  # devices that bind to 1883, since binding to 1883 is hard in a k8s ingress.
  - name: mqtt
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 1883
    filter_chains:
    - filters:
      # TODO: Add TLS. At the moment, doing this will break IP and mDNS connections.
      - name: herron.dev
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: herron-dev
          cluster: mqtt

  clusters:
  - name: mqtt
    type: STRICT_DNS
    load_assignment:
      cluster_name: mqtt
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: 127.0.0.1
                port_value: 31883
