static_resources:
  listeners:
  # TCP Listener (for HTTP/1.1 and HTTP/2)
  - name: http_tcp
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 80
        protocol: TCP
    filter_chains:
    - filters:
      - name: https_redirect
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: https_redirect
          route_config:
            name: https_redirect
            virtual_hosts:
            - name: https_redirect
              domains: ["*"]
              routes:
              - match:
                  prefix: "/"
                redirect:
                  https_redirect: true
  - name: https_tcp
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 443
        protocol: TCP
    listener_filters: # Required for SNI for filter server name matching
    - name: "envoy.filters.listener.tls_inspector"
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.filters.listener.tls_inspector.v3.TlsInspector
    filter_chains:
    - filter_chain_match:
        server_names: ["*.herron.dev"]
      transport_socket:
        name: herron.dev
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
          common_tls_context:
            tls_certificates:
            - certificate_chain:
                filename: "/etc/letsencrypt/live/herron.dev/fullchain.pem"
              private_key:
                filename: "/etc/letsencrypt/live/herron.dev/privkey.pem"
      filters:
      - name: herron.dev
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: herron-dev
          http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
          upgrade_configs:
          - upgrade_type: websocket
          route_config:
            name: herron.dev
            response_headers_to_add:
            - header:
                # Tells the client that HTTP/3 is available
                key: Alt-Svc
                value: 'h3=":443"; ma=86400'
            - header:
                key: "Cross-Origin-Resource-Policy"
                value: "same-origin"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            - header:
                key: "Content-Security-Policy"
                value: "frame-ancestors 'none'; upgrade-insecure-requests; report-to cf-nel"  # report-to cf-nel set by cloudflare
              append_action: ADD_IF_ABSENT
            - header:
                key: "Referrer-Policy"
                value: "same-origin"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            - header:
                key: "Strict-Transport-Security"
                value: "max-age=63072000; includeSubDomains; preload"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            - header:
                key: "X-Content-Type-Options"
                value: "nosniff"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            virtual_hosts:
            - name: home
              domains: ["home.herron.dev"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: home
            - name: kubernetes-haproxy
              domains:
                - bitwarden.herron.dev
                - cal.herron.dev
                - data.herron.dev
                - grafana.herron.dev
                - harbor.herron.dev
                - keycloak.herron.dev
                - kubernetes-dashboard.herron.dev
                - plex.herron.dev
                - radicale.herron.dev
                - recipes.herron.dev
                - trello-bot.herron.dev
                - utility-api.herron.dev
                - www.herron.dev
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: kubernetes-haproxy
            - name: syncthing
              domains: ["syncthing.herron.dev"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: syncthing
            - name: catchall
              domains: ["*"]
              routes:
              - match:
                  prefix: "/"
                redirect:
                  host_redirect: "www.herron.dev"

  # UDP Listener (for HTTP/3)
  - name: https_udp
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 443
        protocol: UDP
    udp_listener_config:
      quic_options: {}
      downstream_socket_config:
        prefer_gro: true
    filter_chains:
    - filter_chain_match:
        server_names: ["*.herron.dev"]
      transport_socket:
        name: herron.dev
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.quic.v3.QuicDownstreamTransport
          downstream_tls_context:
            common_tls_context:
              tls_certificates:
              - certificate_chain:
                  filename: "/etc/letsencrypt/live/herron.dev/fullchain.pem"
                private_key:
                  filename: "/etc/letsencrypt/live/herron.dev/privkey.pem"
      filters:
      - name: herron.dev
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          codec_type: HTTP3
          stat_prefix: herron-dev
          http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
          upgrade_configs:
          - upgrade_type: websocket
          route_config:
            name: herron.dev
            response_headers_to_add:
            - header:
                # Tells the client that HTTP/3 is available
                key: Alt-Svc
                value: 'h3=":443"; ma=86400'
            - header:
                key: "Cross-Origin-Resource-Policy"
                value: "same-origin"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            - header:
                key: "Content-Security-Policy"
                value: "frame-ancestors 'none'; upgrade-insecure-requests; report-to cf-nel"  # report-to cf-nel set by cloudflare
              append_action: ADD_IF_ABSENT
            - header:
                key: "Referrer-Policy"
                value: "same-origin"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            - header:
                key: "Strict-Transport-Security"
                value: "max-age=63072000; includeSubDomains; preload"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            - header:
                key: "X-Content-Type-Options"
                value: "nosniff"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            virtual_hosts:
            - name: home
              domains: ["home.herron.dev"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: home
            - name: kubernetes-haproxy
              domains:
                - bitwarden.herron.dev
                - cal.herron.dev
                - data.herron.dev
                - grafana.herron.dev
                - harbor.herron.dev
                - keycloak.herron.dev
                - kubernetes-dashboard.herron.dev
                - plex.herron.dev
                - radicale.herron.dev
                - recipes.herron.dev
                - trello-bot.herron.dev
                - utility-api.herron.dev
                - www.herron.dev
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: kubernetes-haproxy
            - name: syncthing
              domains: ["syncthing.herron.dev"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: syncthing
            - name: catchall
              domains: ["*"]
              routes:
              - match:
                  prefix: "/"
                redirect:
                  host_redirect: "www.herron.dev"
  - name: mqtt
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 1883
    filter_chains:
    - filters:
      # TODO: Add TLS. At the moment, doing this will break IP and mDNS connections.
      - name: herron.dev
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: herron-dev
          cluster: mqtt

  clusters:
  - name: home
    type: STATIC
    load_assignment:
      cluster_name: home
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: 127.0.0.1
                port_value: 8123
  - name: kubernetes-haproxy
    type: STATIC
    load_assignment:
      cluster_name: kubernetes-haproxy
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: 127.0.0.1
                port_value: 30080
  - name: mqtt
    type: STRICT_DNS
    load_assignment:
      cluster_name: mqtt
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: 127.0.0.1
                port_value: 31883
  - name: syncthing
    type: STATIC
    load_assignment:
      cluster_name: syncthing
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: 127.0.0.1
                port_value: 8384
