name: jays-server
services:

  # Envoy
  envoy:
    container_name: envoy
    image: envoyproxy/envoy:v1.28-latest
    restart: unless-stopped
    environment:
      - ENVOY_UID=0
    network_mode: host
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
      # You must provide your own certificate files. See `ansible` directory for certbot config.
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
