apiVersion: apps/v1
kind: Deployment
metadata:
  name: herron-dot-dev
  namespace: herron-dot-dev
  labels:
    app: herron-dot-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: herron-dot-dev
  template:
    metadata:
      labels:
        app: herron-dot-dev
    spec:
      containers:
        - name: website
          image: ghcr.io/needleinajaystack/website@sha256:0b4368b7b535c5235bc0f4268077d1fdf5e25569523c74a92450b70ce1da53b7
          ports:
            - containerPort: 80
