apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: acme
    haproxy.org/ssl-redirect: "false"
  name: herron-dot-dev
  namespace: herron-dot-dev
  labels:
    app: herron-dot-dev
spec:
  ingressClassName: haproxy
  rules:
    - host: www.herron.dev
      http:
        paths:
        - pathType: Prefix
          path: "/"
          backend:
            service:
              name: herron-dot-dev
              port:
                number: 80
  tls:
    - hosts:
      - www.herron.dev
      secretName: herron-dot-dev-tls
