apiVersion: apps/v1
kind: Deployment
metadata:
  name: trello-bot
  namespace: trello-bot
  labels:
    app: trello-bot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trello-bot
  template:
    metadata:
      labels:
        app: trello-bot
    spec:
      containers:
        - name: website
          image: ghcr.io/needleinajaystack/trello-bot:v1.0.2
          ports:
            - containerPort: 3333
          env:
            - name: TRELLO_DEV_KEY
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: devKey
            - name: TRELLO_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: botToken
