apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: acme
    external-dns.alpha.kubernetes.io/target: "97.117.2.112"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    haproxy.org/ssl-redirect: "false"
  name: trello-bot
  namespace: trello-bot
  labels:
    app: trello-bot
spec:
  ingressClassName: haproxy
  rules:
    - host: trello-bot.herron.dev
      http:
        paths:
        - pathType: Prefix
          path: "/"
          backend:
            service:
              name: trello-bot
              port:
                number: 80
  tls:
    - hosts:
      - trello-bot.herron.dev
      secretName: trello-bot-tls
