apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: acme
  name: mealie
  namespace: mealie
  labels:
    app: mealie
spec:
  ingressClassName: haproxy
  rules:
    - host: recipes.herron.dev
      http:
        paths:
        - pathType: Prefix
          path: "/"
          backend:
            service:
              name: mealie
              port:
                number: 9000
  tls:
    - hosts:
      - recipes.herron.dev
      secretName: mealie-tls
