apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: syncthing
  namespace: syncthing
  labels:
    app: syncthing
spec:
  ingressClassName: haproxy
  rules:
    - host: syncthing.herron.dev
      http:
        paths:
        - pathType: Prefix
          path: "/"
          backend:
            service:
              name: syncthing
              port:
                number: 8384
