apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: acme
    haproxy.org/ssl-redirect: "false"
  name: mosquitto
  namespace: mosquitto
  labels:
    app: mosquitto
spec:
  ingressClassName: haproxy
  rules:
    - host: mosquitto.herron.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: mosquitto
                port:
                  number: 9001
  tls:
    - hosts:
      - mosquitto.herron.dev
      secretName: mosquitto-tls
