apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: mosquitto
spec:
  ports:
    - port: 1883
      targetPort: mqtt
      name: mqtt
    - port: 9001
      targetPort: mqtt-ws
      name: mqtt-ws
  selector:
    app: mosquitto
