apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: acme
    haproxy.org/ssl-redirect: "false"
  name: vaultwarden
  namespace: vaultwarden
  labels:
    app: vaultwarden
spec:
  ingressClassName: haproxy
  rules:
    - host: bitwarden.herron.dev
      http:
        paths:
        - pathType: Prefix
          path: "/"
          backend:
            service:
              name: vaultwarden
              port:
                number: 80
  tls:
    - hosts:
      - bitwarden.herron.dev
      secretName: vaultwarden-tls
